@import url(../access/fonts/Roboto.css);
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Roboto;
}

.artwork {
  width: 150px;
  height: 150px;
}

html {
  background: #d57628;
}

.creater_img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px #FFF solid;
  position: absolute;
  top: 1em;
  left: 1em;
}

.artwork {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  top: 1em;
  left: 1em;
  margin: 0 auto;
}

.song_title {
  line-height: 3em;
  font-size: 1.5em;
  text-align: center;
}

.showcase {
  margin: 0 auto;
  background: #CCC;
  width: 70vw;
  height: auto;
  position: relative;
  padding: 1em;
  margin-top: 1em;
}

.creater_name {
  line-height: 3em;
  font-size: 1em;
  text-align: center;
}

.showmusic {
  text-align: center;
  width: 100%;
  display: block;
}

.download {
  border: 2px solid #aaaaaa;
  color: #000;
  background: #e8e8e8;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.download:hover {
  color: #e8e8e8;
  background: #000;
}
